html, body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.site-footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-family: poppins, sans-serif;
}